.filters{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
    position: relative;
    display: flex;
    position: relative;
}

.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border: unset;
    position: absolute;
    right: 30px;
    top: 11px;
    opacity: 90%;
}

.locations, .amenities{
    height: 100%;
    width: 25%;
    cursor: pointer;
}

.locations{
    border-right: 1px solid #DDDDDD;
}

ul, li{
    list-style-type: none;

}

.popover{
    position: relative;
    top: 0;
    background-color: #FAFAFA;
    border: #DDDDDD solid 1px;
    border-radius: 4px;
    display: none;
    padding: 20px;
}
h3{
    font-weight: 600;
    margin: auto 40px;
    margin-top: 20px;
}

h4{
    font-weight: 400;
    font-size: 14px;
    margin: auto 40px;
}

h2 {
    font-size: 16;
}
.popover > li > h2 {
    margin-bottom: 0;
}
.popover > li {

}

.locations:hover .popover{
    display: block;
}

.amenities:hover .popover
{
    display: block;
}